* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #114358;
  padding: 10px;
}

.btn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px goldenrod;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  font-family: monospace;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
